repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ["--disable", "MD013", "MD024", "MD036", "MD033", "MD041", "--fix"]

  - repo: local
    hooks:
      - id: pytest-cov
        name: pytest
        entry: uv run pytest --cov=src/qr_network --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
